In [9]:
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [10]:
df=read_csv(r"C:\Users\kathy\Downloads\pima-indians-diabetes.data.csv")
df

      6  148  72  35    0  33.6  0.627  50  1
0     1   85  66  29    0  26.6  0.351  31  0
1     8  183  64   0    0  23.3  0.672  32  1
2     1   89  66  23   94  28.1  0.167  21  0
3     0  137  40  35  168  43.1  2.288  33  1
4     5  116  74   0    0  25.6  0.201  30  0
..   ..  ...  ..  ..  ...   ...    ...  .. ..
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

[767 rows x 9 columns]

In [13]:
names=['preg','plas','pres','skin','test','mass','pedi','age','class']
df=read_csv(r"C:\Users\kathy\Downloads\pima-indians-diabetes.data.csv",names=names)
df

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [21]:
array=df.values
X=array[:,0:8]
Y=array[:,8]

In [25]:
num_trees=108
seed=7
k_fold=KFold(n_splits=10,random_state=seed,shuffle=True)
model=RandomForestClassifier(n_estimators=num_trees,max_features=3)
k_fold

KFold(n_splits=10, random_state=7, shuffle=True)

In [27]:
result=cross_val_score(model,X,Y,cv=k_fold)
print(result.mean())

0.7669343814080657