In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [3]:
data={"color":["red","blue","green","Yellow","Purple"]}
df=pd.DataFrame(data)
df.head()

    color
0     red
1    blue
2   green
3  Yellow
4  Purple

In [7]:
one_hot_encoding=OneHotEncoder(sparse_output=False)
color_encoded=one_hot_encoding.fit_transform(df[["color"]])
color_encoded_df=pd.DataFrame(color_encoded,columns=one_hot_encoding.get_feature_names_out(["color"]))
df=pd.concat([df,color_encoded_df],axis=1)
df.head()

    color  color_Purple  color_Yellow  color_blue  color_green  color_red
0     red           0.0           0.0         0.0          0.0        1.0
1    blue           0.0           0.0         1.0          0.0        0.0
2   green           0.0           0.0         0.0          1.0        0.0
3  Yellow           0.0           1.0         0.0          0.0        0.0
4  Purple           1.0           0.0         0.0          0.0        0.0